---
layout: default
---
<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }} | {{ site.title }}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <link rel="stylesheet" href="/css/normalize.css">
        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" type="text/css" href="/fonts/museo/museo.css">
        <script src="/js/vendor/modernizr-2.6.2.min.js"></script>
	<style>
	header a h1 {
	    text-transform: none;
	    transform: none;
	    font-size: 2em;
	}

    header {
        width: 80%;
    }

    .wrapper {
        width: 80%;
    }

    img.build-status {
        width: 35%;
        border-radius: 0;
    }

    .main {
        width: 75%;
    }

    aside {
        width: 25%;
    }
	</style>
        <!--[if lte IE 7]><script src="/js/lte-ie7.js"></script><![endif]-->
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <header>
            <div class="center">
                <a href="{{ site.url }}"><h1>{{ site.title }}</h1></a>
                <h3>{{ site.tagline }}</h3>
            </div>
        </header>

        <div class="wrapper clearfix">
            <div class="main">
            
            {{ content }}

            </div>
            <aside>
                <h2>Useful links</h2>
                <p><a href="https://travis-ci.org/aps-sids/flumotion-orig"><img class="build-status" src="https://travis-ci.org/aps-sids/flumotion-orig.svg?branch=porting-to-gst1.0"></img></a></p>
                <p><a href="{{ site.url }}/atom.xml">Atom Feed</a></p>
                <p><a href="http://www.google-melange.com/gsoc/proposal/public/google/gsoc2014/sids/5668600916475904">Proposal link</a></p>
                <p><a href="https://github.com/aps-sids/flumotion-orig">Github repo</a></p>
                <p><a href="https://www.google.com/calendar/embed?src=bon1obps9pvu0rjrpf38a2afto%40group.calendar.google.com&ctz=Asia/Calcutta">My Google calendar</a></p>
            </aside>
        </div>
        <footer>
            <ul class="social">
                <li>
                    <a href="http://facebook.com/{{ site.author.facebook }}" aria-hidden="true" data-icon="&#xe001;" class="facebook" target="_blank">
                        <span class="hovertext">Facebook</span>
                    </a>
                </li>
                <li>
                    <a href="http://twitter.com/{{ site.author.twitter }}" aria-hidden="true" data-icon="&#xe002;" class="twitter" target="_blank">
                        <span class="hovertext">Twitter</span>
                    </a>
                </li>
                <li>
                    <a href="https://plus.google.com/{{ site.author.google_plus }}" aria-hidden="true" data-icon="&#xe005;" class="gplus" target="_blank">
                        <span class="hovertext">Google+</span>
                    </a>
                </li>
                <li>
                    <a href="http://www.linkedin.com/pub/{{ site.author.linkedin }}" aria-hidden="true" data-icon="&#xe010;" class="linkedin" target="_blank">
                        <span class="hovertext">Linkedin</span>
                    </a>
                </li>
                <li>
                    <a href="http://github.com/{{ site.author.github }}" aria-hidden="true" data-icon="&#xe000;" class="github" target="_blank">
                        <span class="hovertext">Github</span>
                    </a>
                </li>
                <li>
                    <a href="mailto:{{ site.author.email }}" aria-hidden="true" data-icon="&#xe00a;" class="mail" target="_blank">
                        <span class="hovertext">Mail</span>
                    </a>
                </li>
            </ul>
            <p>Handcrafted with love, by {{ site.author.name }}<br /><span>&copy; 2013 | Powered by Jekyll</span></p>
        </footer>

    </body>
</html>
